
<h4 class="subs">Recipes-Details Component</h4>
<div class="row">
  <div class="col-xs-12">
    <img src="{{recipeD.imagePath}}" class="img-responsive" alt="{{recipeD.name}}" style="max-height: 400px">
    
  </div>
</div>


<div class="row">
  <div class="col-xs-12">
    <h4> {{recipeD.name}}</h4>
  
    
  </div>
</div>



<div class="row">
  <div class="col col-xs-12">
    <h5>{{recipeD.description}}</h5> 
  </div>
</div>


<div class="row">
 <div class="col-xs-12">
   <ul class="list-group">
     <li class="list-group-item" *ngFor="let x of recipeD.ingredient" style="background-color:green; color: white">
       {{x.name}} - {{x.amount}}

     </li>
   </ul>
 </div>
</div>





  <div class="btn-group" appDropdown>
      <button type="butten" class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li class="list-group-item" (click)= "onAddToShoppingList()"> <a style="cursor: pointer"> To Shopping List</a></li>
        <li class="list-group-item" (click) = "onEditRecipe()"> <a style="cursor: pointer"> Edit Recipe</a></li>
        <li class="list-group-item"> <a style="cursor: pointer"> Delete Recipe</a></li>

      </ul>
    </div>